body {
  margin: 0;
}

.margin {
  margin: 0 0;
}

.splash {
  background: url("images/GC20230514.jpg") fixed no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: relative;
  height: 100vh;
  height: 100svh;
}

.splash-inner {
  /*     padding-top: 35vh;
    padding-top: 35svh; */
}

.bottom {
  height: 2000px;
  background-color: blueviolet;
}

h1 {
  font-family: "Norwester", sans-serif;
  text-align: center;
  line-height: 95%;
  text-transform: uppercase;
  font-size: 46pt;
  color: black;
}

h2 {
  font-family: "Kollektif", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 14pt;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1pt;
  margin-top: 20px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-align: center;
  color: black;
}
